{% extends 'store/base.html' %}
{% load custome_tag %}
{% load static %}
{% block content %}
<div role="main" class="main shop pb-4">

	<div class="container">

		<div class="row">
			<div class="col">
				<ul class="breadcrumb font-weight-bold text-6 justify-content-center my-5">
					<li class="text-transform-none me-2">
						<a href="{% url 'cart_detail' %}" class="text-decoration-none text-color-primary">Shopping Cart</a>
					</li>
					{% if cart_items %}	
					<li class="text-transform-none text-color-grey-lighten me-2">
						<a href="{% url 'checkout_page' %}" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Checkout</a>
					</li>
					<li class="text-transform-none text-color-grey-lighten">
						<a href="{% url 'cart_detail' %}" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
					</li>
					{% else %}
					<li class="text-transform-none text-color-grey-lighten me-2">
						<a class="text-decoration-none text-color-grey-lighten">Checkout</a>
					</li>
					<li class="text-transform-none text-color-grey-lighten">
						<a class="text-decoration-none text-color-grey-lighten">Order Complete</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="row pb-4 mb-5">
			<div class="col-lg-8 mb-5 mb-lg-0">
				<form method="post" action="">
					<div class="table-responsive">
						<table class="shop_table cart">
							<thead>
								{% if cart_items %}	
								<tr class="text-color-dark">
									<th class="product-thumbnail" width="15%">
										&nbsp;
									</th>
									<th class="product-name text-uppercase" width="30%">
										Product
									</th>
									<th class="product-price text-uppercase" width="15%">
										Price
									</th>
									<th class="product-quantity text-uppercase" width="20%">
										Quantity
									</th>
									<th class="product-subtotal text-uppercase text-end" width="20%">
										Subtotal
									</th>
								</tr>
								{% endif %}
							</thead>
							<tbody>
                                {% for cart_item in cart_items %}
								<tr class="cart_table_item">
									<td class="product-thumbnail">
										<div class="product-thumbnail-wrapper">
											<a href="{% url 'cart_remove_product' cart_item.product.id %}" class="product-thumbnail-remove" title="Remove Product">
												<i class="fas fa-times"></i>
											</a>
											<a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug %}" class="product-thumbnail-image" title="{{cart_item.product.name}}">
												<img width="90" height="90" alt="" class="img-fluid" src="{{cart_item.product.get_first_image}}">
											</a>
										</div>
									</td>
									<td class="product-name">
										<a href="{% url 'product_detail' cart_item.product.category.slug cart_item.product.slug %}" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">{{cart_item.product.name}}</a>
									</td>
									<td class="product-price">
										<span class="amount font-weight-medium text-color-grey">${{cart_item.product.sale_price}}</span>
									</td>
									<td class="product-quantity">
										<div class="quantity float-none m-0">
											<a href="{% url 'cart_remove' cart_item.product.id %}">
												<input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
											</a>
											
											<input type="text" class="input-text qty text" title="Qty" value="{{cart_item.quantity}}" name="quantity" min="1" step="1">
											
											<a href="{% url 'add_cart' cart_item.product.id %}">
												<input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
											</a>
										</div>
									</td>
									<td class="product-subtotal text-end">
										<span class="amount text-color-dark font-weight-bold text-4">${{cart_item.sub_total}}</span>
									</td>
								</tr>
                                {% endfor %}
								<tr>
									<td colspan="5">
										<div class="row justify-content-between mx-0">
											{% if cart_items %}
											<div class="col-md-auto px-0 mb-3 mb-md-0">
												<div class="d-flex align-items-center">
													<input type="text" class="form-control h-auto border-radius-0 line-height-1 py-3" name="couponCode" placeholder="Coupon Code" />
													<button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">Apply Coupon</button>
												</div>
											</div>
											{% endif %}
											<div class="col-md-auto px-0 mb-3 mb-md-0">
                                                <a href="{% url 'home' %}">
												<button type="button" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 btn-px-4 py-3">Update Cart</button>
                                                </a>
                                            </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
			{% if cart_items %}
			<div class="col-lg-4 position-relative">
				<div class="card border-width-3 border-radius-0 border-color-hover-dark" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}">
					<div class="card-body">
						<h4 class="font-weight-bold text-uppercase text-4 mb-3">Cart Totals</h4>
						<table class="shop_table cart-totals mb-4">
							<tbody>
								<tr class="cart-subtotal">
									<td class="border-top-0">
										<strong class="text-color-dark">Subtotal</strong>
									</td>
									<td class="border-top-0 text-end">
										<strong><span class="amount font-weight-medium">${{total}}</span></strong>
									</td>
								</tr>
								<tr class="shipping">
									<td colspan="2">
										<strong class="d-block text-color-dark mb-2">Shipping</strong>

										<div class="d-flex flex-column">
											<label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method1">
												<input id="shipping_method1" type="radio" class="me-2" name="shipping_method" value="free" checked />
												Free Shipping
											</label>
											<label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method2">
												<input id="shipping_method2" type="radio" class="me-2" name="shipping_method" value="local-pickup" />
												Local Pickup
											</label>
											<label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method3">
												<input id="shipping_method3" type="radio" class="me-2" name="shipping_method" value="flat-rate" />
												Flat Rate: $5.00
											</label>
										</div>
									</td>
								</tr>
								<tr class="total">
									<td>
										<strong class="text-color-dark text-3-5">Total</strong>
									</td>
									<td class="text-end">
										<strong class="text-color-dark"><span class="amount text-color-dark text-5">${{total}}</span></strong>
									</td>
								</tr>
							</tbody>
						</table>
						<a href="{% url 'checkout_page' %}" class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3">Proceed to Checkout <i class="fas fa-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		{% if cart_items %}	
		<div class="row">
			<div class="col">
				<h4 class="font-weight-semibold text-4 mb-3">PEOPLE ALSO BOUGHT</h4>
				<hr class="mt-0">
				<div class="products row">
					<div class="col">
						<div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                            {% for item in cart_items %}
							<div class="product mb-0">
								<div class="product-thumb-info border-0 mb-3">

									<div class="product-thumb-info-badges-wrapper">
										{% if item.product.check_new_product %}
                                        <span class="badge badge-ecommerce badge-success">NEW</span>
								        {% endif %}
                                        <span class="badge badge-ecommerce badge-danger">{% divide item.product.sale_price item.product.amount_price %}% OFF</span>
									</div>

									<div class="addtocart-btn-wrapper">
										<a href="{% url 'add_cart' item.product.id %}" class="text-decoration-none addtocart-btn" title="Add to Cart">
											<i class="icons icon-bag"></i>
										</a>
									</div>

									<a href="{% url 'quick_view' item.product.category.slug item.product.slug %}" class="quick-view text-uppercase font-weight-semibold text-2">
										QUICK VIEW
									</a>
									<a href="{% url 'product_detail' item.product.category.slug item.product.slug %}">
										<div class="product-thumb-info-image product-thumb-info-image-effect">
											<img alt="" class="img-fluid" src="{{item.product.get_first_image}}">

												<img alt="" class="img-fluid" src="{{item.product.get_first_image}}">

										</div>
									</a>
								</div>
								<div class="d-flex justify-content-between">
									<div>
										<a href="{% url 'products_by_category' item.product.category.slug %}" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{item.product.category.name}}</a>
										<h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="{% url 'product_detail' item.product.category.slug item.product.slug %}" class="text-color-dark text-color-hover-primary">{{item.product.name}}</a></h3>
									</div>
									<a href="#" class="text-decoration-none text-color-default text-color-hover-dark text-4"><i class="far fa-heart"></i></a>
								</div>
								<div title="">
                                    <input type="text" class="rating-loading" value="{{ item.product.review_set.all.0.rate }}" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                                </div>
								<p class="price text-5 mb-3">
                                    <span class="sale text-color-dark font-weight-semi-bold">${{item.product.sale_price}}</span>
                                    <span class="amount">${{item.product.amount_price}}</span>
                                </p>
							</div>
                            {% endfor %}
                            
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

</div>
{% endblock %}
