{% load static %}
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 135, 'stickySetTop': '-135px', 'stickyChangeLogo': true}">
    <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
        <div class="header-container container">
            <div class="header-row py-2">
                <div class="header-column w-100">
                    <div class="header-row justify-content-between">
                        <div class="header-logo z-index-2 col-lg-2 px-0">
                            <a href="{% url 'home' %}">
                                <img alt="Porto" width="100" height="48" data-sticky-width="82" data-sticky-height="40" data-sticky-top="84" src="{% static 'img/logo-default-slim.png' %}">
                            </a>
                        </div>
                        <div class="header-nav-features header-nav-features-no-border col-lg-5 col-xl-6 px-0 ms-0">
                            <div class="header-nav-feature ps-lg-5 pe-lg-4">
                                <form role="search" action="page-search-results.html" method="get">
                                    <div class="search-with-select">
                                        <a href="#" class="mobile-search-toggle-btn me-2" data-porto-toggle-class="open">
                                            <i class="icons icon-magnifier text-color-dark text-color-hover-primary"></i>
                                        </a>
                                        <div class="search-form-wrapper input-group">
                                            <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                            <div class="search-form-select-wrapper">
                                                <div class="custom-select-1">
                                                    <select name="category" class="form-control form-select">
                                                        <option value="all" selected>All Categories</option>
                                                        {% for category in links %}
                                                        <option value="{{ category.name }}">{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button class="btn" type="submit">
                                                    <i class="icons icon-magnifier header-nav-top-icon text-color-dark"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="d-flex col-auto col-lg-3 pe-0 ps-0 ps-xl-3">
                            <ul class="header-extra-info">
                                {% if request.user.is_authenticated%}
                                <li class="ms-0 ms-xl-4">
                                    <div class="header-extra-info-icon">
                                        <a href="{% url 'signout' %}" class="text-decoration-none text-color-dark text-color-hover-primary text-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                                <li class="me-2 ms-3">
                                    <div class="header-extra-info-icon">
                                        <a href="#" class="text-decoration-none text-color-dark text-color-hover-primary text-2">
                                            <i class="icons icon-user"></i>
                                        </a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="ms-0 ms-xl-4">
                                    <div class="header-extra-info-icon">
                                        <a href="{% url 'signin' %}" class="text-decoration-none text-color-dark text-color-hover-primary text-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                                {% endif %}
                                <li class="me-2 ms-3">
                                    <div class="header-extra-info-icon">
                                        <a href="#" class="text-decoration-none text-color-dark text-color-hover-primary text-2">
                                            <i class="icons icon-heart"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-nav-features ps-0 ms-1">
                                <div class="header-nav-feature header-nav-features-cart header-nav-features-cart-big d-inline-flex top-2 ms-2">
                                    <a href="{% url 'cart_detail' %}" class="header-nav-features-toggle">
                                        <img src="{% static 'img/icons/icon-cart-big.svg' %}" height="30" alt="" class="header-nav-top-icon-img">
                                        {% if item_count > 0 %}
                                        <span class="cart-info">
                                            <span class="cart-qty">{{item_count}}</span>
                                        </span>
                                        {% endif %}
                                    </a>
                                    <div class="header-nav-features-dropdown" id="headerTopCartDropdown">
                                        <ol class="mini-products-list">
                                            {% for item in cart.cartitem_set.all %}
                                            <li class="item">
                                                <a href="{% url 'product_detail' item.product.category.slug item.product.slug %}" title="{{item.product.name}}" class="product-image"><img src="{{ item.product.get_first_image }}" alt="{{item.product.name}}"></a>
                                                <div class="product-details">
                                                    <p class="product-name">
                                                        <a href="{% url 'product_detail' item.product.category.slug item.product.slug %}">{{item.product.name}} </a>
                                                    </p>
                                                    <p class="qty-price">
                                                         {{item.quantity}}X <span class="price">${{item.product.sale_price}}</span>
                                                    </p>
                                                    <a href="{% url 'cart_remove_product' item.product.id %}" title="Remove This Item" class="btn-remove"><i class="fas fa-times"></i></a>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ol>
                                        <div class="totals">
                                            <span class="label">Total:</span>
                                            <span class="price-total"><span class="price">${{total}}</span></span>
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-dark" href="{% url 'cart_detail' %}">View Cart</a>
                                            <a class="btn btn-primary" href="{% url 'checkout_page' %}">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">

                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav-bar header-nav-bar-top-border bg-light">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row justify-content-end">
                            <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border justify-content-start" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'margin-left': '105px'}" data-sticky-header-style-deactive="{'margin-left': '0'}">
                                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1 w-100">
                                    <nav class="collapse w-100">
                                        <ul class="nav nav-pills w-100" id="mainNav">
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="{% url 'home' %}">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="{% url 'home' %}">
                                                    Categories
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for category in links %}
                                                    <li>
                                                        <a class="dropdown-item" href="{{category.get_url}}">{{ category.name }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>