{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-dark">User Profile</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Pages</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-3 pb-2">

        <div class="row pt-2">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">
                            {{message}}.
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div id="form_errors">
                        {% for key, value in user_form.errors.items %}
                            <strong><i class="fas fa-exclamation-triangle"></i>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {{profile_form.avatar.url}}
            <div class="col-lg-3 mt-4 mt-lg-0">
                <form method="POST" enctype="multipart/form-data" role="form" class="needs-validation">

                <div class="d-flex justify-content-center mb-4">
                    <div class="profile-image-outer-container">
                        <div class="profile-image-inner-container bg-color-primary">
                            <img src="{{ user.profile.avatar.url }}">
                            <span class="profile-image-button bg-color-dark">
                                <i class="fas fa-camera text-light"></i>
                            </span>
                        </div>
                        <input type="file" name="avatar" id="avatar" class="form-control profile-image-input">
                    </div>
                </div>

                <aside class="sidebar mt-2" id="sidebar">
                    <ul class="nav nav-list flex-column mb-5">
                        <li class="nav-item"><a class="nav-link text-3 text-dark active" href="{% url 'user_profile' %}">My Profile</a></li>
                        <!-- <li class="nav-item"><a class="nav-link text-3" href="#">User Preferences</a></li>
                        <li class="nav-item"><a class="nav-link text-3" href="#">Billing</a></li>
                        <li class="nav-item"><a class="nav-link text-3" href="#">Invoices</a></li> -->
                    </ul>
                </aside>

            </div>
            <div class="col-lg-9">

                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">First name</label>
                        <div class="col-lg-9">
                            {{ user_form.first_name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Last name</label>
                        <div class="col-lg-9">
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Email</label>
                        <div class="col-lg-9">
                            {{ user_form.email }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Username</label>
                        <div class="col-lg-9">
                            {{ user_form.username }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-lg-9">

                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>
{% endblock content %}